<div class='container px-5 px-sm-0'>
  <div class="col-md-6 mx-auto">

    <p>ようこそ<%= current_user.name %>さん</p>
    <p>ここでは<%= @master.name %>と自由にお話が出来ます。</p>

    <div id="chat_list">
      <%= render 'chat_list', chats: @chats %>
    </div>

    <div id="chat_form" class="form mt-5">
      <%= render 'chat_form', chat: @chat %>
    </div>

  </div>
</div>
